.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.to-do-container {
  width: 50vw;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 20px 0px;
  background: rgb(160, 212, 56);
  border-radius: 1px;
  transition: transform 1s 0s, opacity 1s 0s;
  transform: translateX(0);
  opacity: 1;
}

.input-task {
  border: 2px solid rgb(12, 11, 11);
  line-height: 30px;
  width: 40vw;
}

.input-task:focus-within {
  border: 2px solid rgb(221, 152, 152);
}

.add-task-btn {
  padding: 10px 15px;
  font-size: 1rem;
  background: rgb(160, 212, 56);
  border: none;
}

.add-task-btn:hover {
  background: rgb(187, 228, 106);
}

.products-delete {
  transform: translateX(20vw);
  opacity: 0;
}

.to-do-item-text {
  min-height: 3rem;
  background: rgb(226, 226, 226);
}

.delete-btn {
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  background: rgb(218, 92, 75);
  border: none;
}

.completed {
  background: linear-gradient(rgb(98, 194, 98), rgb(10, 182, 10));
}

.completed p {
  text-decoration: line-through;
}
